<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <% if @post.image.attached? %>
      <p>現在の画像：</p>
      <%= image_tag @post.image.variant(resize_to_limit: [150, 150]) %>
    <% end %>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image, direct_upload: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
