<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <% cache post do %>
      <%= render post %>
      <p>
        <%= link_to "詳細を表示する", post %>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to "新しく投稿する", new_post_path %>

<%= link_to "戻る", root_path %>
